.leaflet-container {
    width: 100vw;
    height: 100vh;
    z-index: 10;
}

/* Ensure body and HTML take full height */
html, body, #root {
    height: 100%;
    margin: 0;
    padding: 0;
    overflow: hidden; /* Prevent double scrollbars */
}
